<!DOCTYPE html>
<head>
    <h1>Calculator</h1><br><br>
</head>

<body>
    <div id="app">
        hasil : {{ hasil }}<br>
        <input v-model="num1" type="number">
        <input v-model="num2" type="number"><br>
        <button v-on:click="hasil=num1+num2">+</button>
        <button v-on:click="hasil=num1-num2">-</button>
        <button v-on:click="hasil=num1*num2">*</button>
        <button v-on:click="hasil=num1/num2">/</button>
    </div>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const app = Vue.createApp({
        data(){
            return{
                num1: 0,
                num2: 0,
                hasil: 0,
            }
        }
    })
    app.mount('#app')
</script>
